#默认数据源
main_url = jdbc:mysql://121.201.29.188:33306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
main_user = root
main_pwd = 123456

#Eova数据源
eova_url = jdbc:mysql://121.201.29.188:33306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = root
eova_pwd = 123456

#其它数据源连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql_url = jdbc:postgresql://127.0.0.1:5432/postgres

#statistic数据源
statistic_url=jdbc:mysql://121.201.29.188:33306/statistic?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
statistic_user=root
statistic_pwd=123456